.speech{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 16px;
}
.stage-direction :hover{
    font-family: 'Times New Roman', Times, serif;
    color:rgba(0, 139, 139, 0.137);
    font-size: 16px ;
}
.name{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 16px;
}
.DUMBY{
    color: blue;
}
.AUGUSTUS{
    color: rgba(34, 120, 196, 0.801);
}
.GRAHAM{
    color: darkgreen;
}



table{
    width: 50%;
    border: 1px solid blue;
    text-align: center;
    border-collapse: collapse;
}
th{
    height: 70px;
    text-align: center;
    border:2px solid green;
}
 td{
    
    border:2px solid gold;
    width: 100%;
    text-align: center;
}